table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 2px solid #000; 
}

table, td {
    padding: 8px;
    border: 1px solid #000;
    text-align: left; 
}

th, td {
    padding: 8px;
    border: 1px solid #000; 
    text-align: left;
}

th {
    padding: 8px;
    border: 3px double #000; 
    text-align: left;
}

tfoot {
    font-weight: bold;
}